#Ignore the test node
/object_detection/object_detection/test_node.py

#Ignore pycache dirs
object_detection/object_detection/Detectors/__pycache__/
object_detection/object_detection/__pycache__/

#Ignore .vscode dir
.vscode